{% extends "wagtailadmin/base.html" %}
{% comment %}
Брендинг админки PSA — поверх стандартного шаблона Wagtail (тот же путь: папка
templates/ проекта ищется раньше шаблонов пакетов). Цвета и шрифты — static/psa-admin.css.
{% endcomment %}
{% load static %}
{% block branding_logo %}{% include "wagtailadmin/psa_logo.html" %}{% endblock %}
{% block branding_title %}PSA{% endblock %}
{% block branding_favicon %}<link rel="icon" href="{% static 'img/favicon-32.png' %}" type="image/png" sizes="32x32">{% endblock %}
